accelerate==0.26.1
fastapi==0.95.1
gradio==3.23.0
httpx==0.24.0
markdown-it-py==2.2.0
numpy==1.26.3
prompt-toolkit==3.0.38
pydantic==2.5.3
requests==2.31.0
rich==13.7.1
rouge==1.0.1
sentencepiece==0.1.99
scikit-learn==1.4.dev0
shortuuid==1.0.11
tiktoken==0.4.0
tokenizers==0.13.3
torch>=2.1.0
transformers==4.31.0
uvicorn==0.22.0
bitsandbytes==0.38.1
peft==0.10.0
langchain==0.0.229
deepspeed==0.14.0
datasets==2.19.1
trl==0.7.11
sentence_transformers==2.2.2
openai==0.28.0
tensorboard
scipy
termcolor
flask
flask_cors
sentence_transformers